<!doctype html>
<html xmlns:th="www.thymeleaf.org">
<head>
  <title>Pharmacy Drug Request</title>
</head>
<body>
  <h1>Pharmacy Information</h1>
  <form action="#" th:action="@{/pharmacyrequest}" method="post">
  <div class="form-group">
   Pharmacy Name:    <select name="pharmacy" id="pharmacy" tabindex="3">
   <option value="NONE" label="--- Select Pharmacy ---" />
   <option th:each="String : ${pharmacies}" th:value="${String}" th:text="${String}">
   </option>
   </select>
  </div> 
  Date: <input type="date" name="date" /><br/>
  <input type="submit" value="OK" name="ok"/>
  <input type="submit" value="Cancel" name="cancel"/>
  </form>
</body></html>