<!doctype html>
<html xmlns:th="www.thymeLeaf.org">
<head>
   <title>Prescription Response</title>
</head>
<body>
<h1>Prescription Fill</h1>
<p>Prescriptions</p>

<table border="1">
   <tr>
      <th>Patient</th>
      <th>Prescription ID</th>
      <th>Price</th>
   </tr>
   <tr>
      <td th:inline="text">[[${patientID}]]</td>
      <td th:inline="text">[[${prescriptionID}]]</td>
      <td th:inline="text">[[${price}]]</td>
   </tr>
</table>
<input type="submit" value="OK" name="ok"/>
<input type="submit" value="Cancel" name="cancel"/>
</body></html>