<!doctype html>
<html xmlns:th="www.thymeLeaf.org">
<head>
   <title>Project 1</title>
</head>
<body>
   <h1>Choose and option</h1>
   <h2>Options</h2>
   <form action="#" th:action="@{/project1}" method="post">
   <input type="submit" value="Doctor - Create Prescription" name="createPrescription"/><br/>
   <input type="submit" value="Patient - Fill Prescription" name="fillPrescription"/><br/>
   <input type="submit" value="Pharmacy - Drug Report" name="pharmacyReport"/><br/>
   <input type="submit" value="FDA - Report" name="FDAReport"/><br/>
   </form>
   <a href="https://www.w3.org/MarkUp/Guide/">More about HTML</a>
</body></html>